#about {
    background-image: linear-gradient(180deg, #00000082 0%, var(--bg-color) 100%), url('../assets/about-img/about-bg.jpg');
}


.about-img {
    padding: 2rem 1rem;
    background-color: var(--bg-color);
}

.about-img img {
    width: 100%;
}


.about-history {
    padding: 2rem 1rem;
    background-color: var(--bg-color);
}

.history-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.history-content h2 {
    float: left;
    font-size: 3rem;
    color: var(--heading-color);
    max-width: 40rem;
    align-self: flex-start;
}

.history-content .history-detail {
    margin-top: 6rem;
    align-self: flex-end;
    max-width: 40rem;

}

.history-detail h3 {
    font-size: 1.5rem;
    color: var(--heading-color);
    margin-bottom: 1.5rem;
}

.history-detail p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1rem;
    color: var(--text-color);
}

@media (max-width: 60rem) {
    .history-content .history-detail {
        margin-top: 2rem;
    }

    .history-detail h3 {
        text-align: center;
    }

    .history-detail p {
        text-align: center;
    }
}

.about-static-section {
    background-image: linear-gradient(180deg, #00000033 0%, var(--bg-color) 100%), url('../assets/about-img/about-static.jpg');
}